[Unit]
Description=A SSH and Telnet honeypot service
After=network.target
After=rsyslog.service
Requires=cowrie.socket

[Service]
User=cowrie
Group=cowrie

Restart=always
RestartSec=5

Environment=PYTHONPATH={{ cowrie_full_path.stdout }}/src
WorkingDirectory={{ cowrie_full_path.stdout }}

ExecStart={{ cowrie_full_path.stdout }}/cowrie-env/bin/python {{ cowrie_full_path.stdout }}/cowrie-env/bin/twistd --umask 0022 --nodaemon --pidfile= -l - cowrie

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cowrie

[Install]
WantedBy=multi-user.target